/data
/money_lover_config/__pycache__

/users/__pycache__
/users/api/__pycache__
/users/migrations/__pycache__

/money_lover_app/__pycache__
/money_lover_app/api/__pycache__
/money_lover_app/migrations/__pycache__